@font-face {
	font-family: "NotoSans";
	src: url("/fonts/NotoSans-Reg.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NotoSans";
	src: url("/fonts/NotoSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-black bg-white dark:bg-gray-950 dark:text-white font-sans scroll-smooth;
	}

	body {
		@apply flex flex-col min-h-screen max-w-4xl mx-auto px-2 leading-relaxed;
	}

	h1 {
		@apply my-4 text-4xl font-black;
	}

	.prose h1,
	.prose h2,
	.prose h3,
	.prose p,
	.prose strong,
	.prose code,
	.prose ul {
		@apply dark:text-white;
	}

	.prose a {
		@apply no-underline transition-all text-sky-500 dark:text-sky-400;
	}

	.prose a:hover {
		@apply underline text-sky-600 decoration-sky-600 decoration-2 dark:text-sky-500 dark:decoration-sky-500;
	}

	.prose .anchor {
		@apply absolute invisible;

		margin-left: -1em;
		padding-right: 0.2em;
		width: 80%;
		max-width: 700px;
		cursor: pointer;
	}

	.anchor:hover {
		@apply visible no-underline;
	}

	.prose .anchor:after {
		@apply text-gray-400 dark:text-gray-100;
		content: "#";
	}

	.prose *:hover > .anchor {
		@apply visible no-underline;
	}

	.dark img.w-6.h-6 {
		fill: white; /* Set fill color to white in dark mode */
	}
}
