---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <p class="p-2 text-lg bg-white border border-dotted rounded border-slate-400 tag">
          <a class="text-sky-600" href={`/tags/${tag}`}>
            {tag}
          </a>
        </p>
      ))
    }
  </div>
</BaseLayout>
