---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap gap-2 py-6">
    {
      tags.map((tag) => (
        <div class="rounded-2xl bg-stone-200/50 from-blue-700 via-sky-400 to-sky-800 p-[1px] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.4)] hover:bg-gradient-to-r dark:bg-gray-800">
          <p class="text-sm font-bold tracking-wide flex-col rounded-[1rem] bg-stone-100 p-2 text-gray-900 opacity-85 dark:bg-stone-800 dark:text-white">
            <a class="" href={`/tags/${tag}`}>
              #{tag}
            </a>
          </p>
        </div>
      ))
    }
  </div>
</BaseLayout>
