---
import "@styles/global.css";
import { SITE } from "src/data/utils";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Error 404 {SITE.title}</title>
  </head>
  <body class="text-center">
    <div class="place-content-center">
      <h1 class="text-6xl tracking-wide font-bold">Error 404</h1>
    </div>
  </body>
</html>
