---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div class="prose max-w-none">
    <p>
      I'm a software developer with a desire to continuously learn about technology from building distributed systems and cloud infrastructure to embedded systems.
      My journey in technology began at SGS College, where I achieved Distinction* Distinction* Distinction in IT,
      leading to my Computer Science degree at Lancaster University. The university courses deepened my understanding of complex systems, with particular focus on distributed systems, embedded systems, and artificial intelligence.
      Areas that continue to shape my interests in software development today.
    </p>

    <h2>Technical Journey</h2>
    <p>
      I am interested in building scalable systems primarily in Java and I am actively learning Rust for its performance benefits and memory safety.
      My recent completion of the Cloud Resume Challenge demonstrates my hands-on experience with cloud technologies,
      and my current project developing a mental health planner using the Spring Framework is  part of my goal to create technology that makes a positive impact.
    </p>

    <h2>Professional Development</h2>
    <p>
      I stay actively engaged with the tech community, attending industry talks that explore different facets of technology.
      These talks fuel my curiosity, allow me to connect with new people, and keep me connected with trends in software development.
    </p>

    <h2>Community Impact</h2>
    <p>
      I believe in technology's power to improve lives and have been involved in my community. I previously volunteered to help elderly community members bridge the digital divide, by helping them maintain their computers and teaching them to use essential online services.
      During university, I was an esports coordinator, where I helped form competitive teams and organise events. The university achieved a top 10 ranking in collegiate esports during my tenure.
    </p>

    <h2>Life Outside Tech</h2>
    <p>
      When I'm away from programming, you'll find me in the kitchen baking up sweet treats from cakes to gooey chocolatey brownies! Or exploring the tranquil paths of Westonbirt Arboretum. Getting away from software development, allows me to return to challenging problems with fresh perspective.
    </p>

    <h2>Current Focus</h2>
    <p>
      My current focus lies in expanding my expertise in cloud computing, particularly exploring Java Spring, and cloud architectures. I'm passionate about learning new technologies and applying my new knowledge to build better, efficient, and scalable solutions.
    </p>
  </div>
</BaseLayout>