---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div class="prose prose-lg max-w-none">
    <p>
      I'm a software developer with a desire to constantly learn more for building distributed systems and cloud infrastructure. My journey in technology began at SGS College, where I achieved Distinction* Distinction* Distinction in IT, leading to my Computer Science degree at Lancaster University. The university curriculum deepened my understanding of complex systems, with particular focus on distributed systems, embedded systems, and artificial intelligence. Areas that continue to shape my approach to software development today.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4 pb-2">Technical Journey</h2>
    <p>
      I build scalable systems primarily in Java and am actively expanding into Rust to leverage its performance benefits and memory safety. My recent completion of the Cloud Resume Challenge demonstrates my hands-on experience with cloud technologies, while my current project developing a mental health planner using Spring Framework showcases my commitment to creating technology that makes a positive impact.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4 pb-2 ">Professional Development</h2>
    <p>
      I stay actively engaged with the tech community, attending industry talks that explore cutting-edge developments in technology. These experiences fuel my curiosity and keep me connected with emerging trends in software development.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4 pb-2 ">Community Impact</h2>
    <p>
      My belief in technology's power to improve lives has driven my community involvement. I previously volunteered to help elderly community members bridge the digital divide, maintaining their computers and teaching them to use essential online services. During university, I served as an esports coordinator, where I helped form competitive teams. The university achieved a top 10 ranking in collegiate esports during this period.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4 pb-2 ">Life Outside Tech</h2>
    <p>
      When I'm not away from programming and my PC, you'll find me in the kitchen experimenting with sweet treats from cakes to gooey chocolatey brownies! or exploring the tranquil paths of Westonbirt Arboretum. These activities provide the perfect balance to the technical challenges of software development, allowing me to return to complex problems with fresh perspective.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4 pb-2">Current Focus</h2>
    <p>
      My current focus lies in expanding my expertise in cloud computing, particularly exploring Java Spring, and cloud-native architectures. I'm passionate about learning new technologies and applying them to build efficient, scalable solutions.
    </p>
  </div>
</BaseLayout>