---
import Social from "@components/Social.astro";
---

<footer
  class="container flex sm:flex-row flex-col justify-between items-center mb-8 sm:mb-4 mt-auto"
>
  <p class="py-4">Developed by Iain Kirkham 2025</p>
  <Social />
</footer>