---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
---

<header>
  <nav class="flex justify-between">
    <Hamburger />
    <Navigation class="items-start" />
    <div class="items-end"><ThemeIcon /></div>
  </nav>
</header>
