---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
---

<header>
  <nav class="flex justify-between">
    <Hamburger class="self-centre" />
    <Navigation class="items-start" />
    <div class="self-center"><ThemeIcon /></div>
  </nav>
</header>
