---

---

<div class="nav-links py-2">
  <a href="/" class="py-1.5 px-3 text-sm rounded-full hover:bg-gray-200 hover:dark:bg-zinc-800 dark:stroke-white fill-none dark:fill-black transition-colors duration-300 ease-in-out">Home</a>
  <a href="/about/" class="py-1.5 px-3 text-sm rounded-full hover:bg-gray-200 hover:dark:bg-zinc-800 dark:stroke-white fill-none dark:fill-black transition-colors duration-300 ease-in-out">About</a>
  <a href="/blog/" class="py-1.5 px-3 text-sm rounded-full hover:bg-gray-200 hover:dark:bg-zinc-800 dark:stroke-white fill-none dark:fill-black transition-colors duration-300 ease-in-out">Blog</a>
</div>